<div class="xwindow" id="leave_win">
	<div class="cover"></div>
	<div class="xbox">
		<div class="title">员工请假表表单</div>
		<form class="xform" id="leave_form" method="post" autocomplete="off">			
			<input type="hidden" name="id"/>
			<div class="xgroup">
				<label class="g1" style="width:100px;">请假类型<i>*</i></label>
				<div class="g2">
					<div class="xcombo" data-name="type" id="f_type">
				  		<ul class="xtemplate">
					   		<li data-xv="{val}">{txt}</li>
					   	</ul>
				  	</div>
				</div>
			</div>
			<div class="xgroup">
				<label class="g1" style="width:100px;">员工<i>*</i></label>
				<div class="g2">
					<input type="text" name="staffTxt" id="f_staffTxt"/>
					<input type="hidden" name="staffId" id="f_staffId"/>
				</div>
			</div>
			<div class="xgroup">
				<label class="g1" style="width:100px;">请假开始时间<i>*</i></label>
				<div class="g2"><input type="text" class="xdate" id="f_startTime" name="startTime"/></div>
			</div>
			<div class="xgroup">
				<label class="g1" style="width:100px;">请假结束时间<i>*</i></label>
				<div class="g2"><input type="text" class="xdate" id="f_endTime" name="endTime"/></div>
			</div>
			<div class="xgroup">
				<label class="g1" style="width:100px;">请假事由<i>*</i></label>
				<div class="g2">
					<textarea style="width:300px" name="content" autocomplete="off"></textarea>
				</div>
			</div>
		</form>
		<div class="bottombar">
			<span class="xbtn" id="btn_submit">保存</span><span class="xbtn xclose">取消</span>
		</div>
	</div>
</div>
<script type="text/javascript">
$("#f_startTime").xdate();
$("#f_endTime").xdate();
app.win = $('#leave_win').xwindow({width:500,height:350,open:false});
app.form = $('#leave_form').xform({
	url : adminPath + '/leave/save',
	xbtn:'#btn_submit',
	xcheck:[
		{label:'请假类型', name:'type', xcheck:'null'},
		{label:'员工', name:'staffId', xcheck:'null'},
		{label:'请假开始时间', name:'startTime', xcheck:'null'},
		{label:'请假结束时间', name:'endTime', xcheck:'null'},
		{label:'请假事由', name:'content', xcheck:'null'}
	],
	xcombo:[
		{id:'#f_type', url:adminPath+"/combo/findBeanType?tKey=leave_type"}
	],
	success:function(e){
		if(e.code==1){
			app.table.reload();
			app.win.close();
			$.ok('操作成功');
		}else {
			$.xalert(e.msg);
		}
	}
});
//人员
$("#f_staffTxt").click(function(){
	linkUser.callBack = function(data) {
		$("#f_staffTxt").val(data.name);
		$("#f_staffId").val(data.id);
	}
	linkUser.open();
});
</script>