<div class="xwindow" id="link_demoTree">
	<div class="cover"></div>
	<div class="xbox">
		<div class="title">公司选择<span class="title_close xclose">X</span></div>
		<form class="xform search_box" id="link_demoTree_form">
			<div class="xgroup">
				<input type="text" name="search" class="xw2" autocomplete="off" placeholder="关键字" id="f_search"/>
			</div>
			<div class="xgroup">
				<button type="button" class="xbtn" id="btn_link_demoTree_search">
					<b class="icon_search icon_all">查询</b>
				</button>
				<button type="button" class="xbtn" id="btn_link_demoTree_reset">
					<b class="icon_reast icon_all">重置</b>
				</button>
			</div>
			<div class="clear"></div>
            <input style="display:none" type="text">
		</form>
	    <div id="demoTree_tree" class="ztree" style="width:300px"></div>
	</div>
	
</div>
<script>
var linkDemoTree = {
	callBack:function(row){},
	init:function(){
		linkDemoTree.bind();
		linkDemoTree.load();
	},
	bind:function(){
		var sf = $("#link_demoTree_form").xform();
		$("#btn_link_demoTree_search").xbtn(function(btn){
			var data = sf.getData();
			linkDemoTree.table.reload(data);
		});
		$("#btn_link_demoTree_reset").xbtn(function(btn){
			sf.clear();
			var data = sf.getData();
			linkDemoTree.table.reload(data);
		});
		$('#f_search').bind('keyup', function(event) {
	        if (event.keyCode == "13") {
				var data = sf.getData();
				linkDemoTree.table.reload(data);
	        }
	    });
		$('#link_demoTree').on("click",".js_link_demoTree_sel", function(btn){
			var index = btn.xv;
			var row = linkDemoTree.table.getRow(index);
			linkDemoTree.callBack(row);
			linkDemoTree.win.close();
		});
	},
	load:function(){
		linkDemoTree.win = $('#link_demoTree').xwindow({width:360,height:500,open:false});
		$.ztree({
			id:"demoTree_tree",
			url:adminPath + '/list/treeDemoTreeData',
			click:function(treeId, treeNode){
				linkDemoTree.win.close();
				linkDemoTree.callBack(treeId, treeNode);
			}
		})
	},
	open:function(callBack){
		linkDemoTree.callBack = callBack;
		linkDemoTree.win.open();
	}
}
linkDemoTree.init();
</script>