<!DOCTYPE html>
<html>
	<#include "/common/_admin.html">
	<script type="text/javascript" src="${ctx}/static/module/sys/staffUser.js?${v}"></script>
<body>
	<div class="main_body">
		<div class="main_title main_title_border">
			<span class="content_titel"><b class="top_icon">用户管理</b></span>
		</div>
		<div class="main_content main_change">
			<form class="xform search_box" id="form_search">
				<div class="xgroup">
					<label class="label">登录帐号</label>
					<input type="text" name="username" class="xw2" autocomplete="off"/>
				</div>	
				<div class="xgroup">
					<label class="label">用户昵称</label>
					<input type="text" name="name" class="xw2" autocomplete="off"/>
				</div>
				<div class="clear"></div>
				<div class="xgroup change_label">
					<button type="button" class="xbtn" id="btn_search"><b class="icon_search icon_all">查询</b></button>
					<button type="button" class="xbtn" id="btn_reset"><b class="icon_reast icon_all">重置</b></button>
					<@shiro.hasPermission name="sys:staffUser:edit">
					<button type="button" class="xbtn" id="btn_add"><b class="icon_add icon_all">添加</b></button>
					</@shiro.hasPermission>
				</div>
				<div class="clear"></div>
			</form>
			<div class="body_center">
				<div class="xtable" id="user_xtable">
					<table class="xhead">
						<tr>
							<th width="100px">操作</th>
							<th width="80px">登录帐号</th>
							<th width="120px">用户昵称</th>
							<th width="120px">手机号码</th>
							<th width="120px">电子邮箱</th>
							<th width="120px">QQ</th>
							<th width="120px">微信</th>
							<th width="80px">用户状态</th>
						</tr>
					</table>
					<div class="xbody">
						<table>
							<tbody class="xtemplate">
								<tr>
									<td class="tc">
									<@shiro.hasPermission name="sys:staffUser:edit">
									{btnUpdate}{btnDelete}{btnResetPass}
									</@shiro.hasPermission>
									</td>
									<td>{username}</td>
									<td>{name}</td>
									<td>{phone}</td>
									<td>{email}</td>
									<td>{qq}</td>
									<td>{wx}</td>
									<td class="tc">{statusTxt}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<#assign cls="user_paging">
			<#include "/common/_paging.html">
		</div>
	</div>
	<#include "staffUserForm.html">
</body>
</html>