<div class="xwindow" id="up_win">
	<div class="cover"></div>
	<div class="xbox">
		<div class="title">修改密码</div>
		<form class="xform" id="update_form" method="post" autocomplete="off">			
			<div class="xgroup">
				<label class="g1">原密码<i>*</i></label>
				<div class="g2"><input type="password" name="oldPassword" id="oldPassword"/></div>
			</div>
			<div class="xgroup">
				<label class="g1">新密码<i>*</i></label>
				<div class="g2"><input type="password" name="newPassword" id="newPassword"/></div>
			</div>
			<div class="xgroup">
				<label class="g1">再次输入<i>*</i></label>
				<div class="g2"><input type="password" name="again" id="again"/></div>
			</div>
		</form>
		<div class="bottombar">
			<span class="xbtn btn_up">保存</span><span class="xbtn xclose">取消</span>
		</div>
	</div>
</div>
<script>
var upWin = {
	init : function() {
		upWin.loadWin();
		upWin.loadData();
	},
	loadWin : function() {
		upWin.win = $('#up_win').xwindow({width:500,height:350,open:false});
	},
	loadData:function(){
		upWin.form = $('#update_form').xform({
			save : adminPath + '/updatePassword',
			xbtn:'.btn_up',
			xcheck:[
				{label:'原密码', name:'oldPassword', xcheck:'null'},
				{label:'新密码', name:'newPassword', xcheck:'null'},
				{label:'再次输入', name:'again', xcheck:'null'}
			],
		    submitBefore:function(){
		    	var oldPassword = $("#oldPassword").val();
		    	var newPassword = $("#newPassword").val();
		    	var again = $("#again").val();
		    	if (oldPassword == newPassword) {
		    		$.xalert("新密码不要与原密码相同");
		    		return false;
		    	}
		    	if (newPassword != again) {
		    		$.xalert("两次输入不一致");
		    		return false;
		    	}
		    },
			success:function(e){
				if(e.code==1){
					upWin.win.close();
					$.ok('操作成功');
				}else {
					$.xalert(e.msg);
				}
			},
			error:function(){$.xalert('请求失败！');}
		});
	},
	open:function(data){
		upWin.form.clear();
		upWin.win.open();
	}
};
upWin.init();
</script>