<!DOCTYPE html>
<html>
	<#include "/common/_admin.html">
	<script type="text/javascript" src="${ctx}/static/module/stock/stock.js?${v}"></script>
<body>
	<div class="main_body">
		<div class="main_title main_title_border">
			<span class="content_titel"><b class="top_icon">库存</b></span>
		</div>
		<div class="main_content main_change">
			<form class="xform search_box" autocomplete="off" id="form_search">
				<div class="xgroup">
					<label class="label">商品名称</label>
					<input type="text" name="goodsName" class="xw2"/>
				</div>
				<div class="xgroup">
					<label class="label">库存数量</label>
					<input type="text" name="num" class="xw2"/>
				</div>
				<div class="clear"></div>
				<div class="xgroup">
					<label class="label">&nbsp;</label>
					<button type="button" class="xbtn" id="btn_search">查询</button>
					<button type="button" class="xbtn" id="btn_reset">重置</button>
				</div>
				<div class="clear"></div>
			</form>
			<div class="body_center">
		
				<div class="xtable" id="stock_xtable" style="min-width:1000px;">
					<table class="xhead">
						<tr>			
							<th width="80px">操作</th>
							<th>商品名称</th>
							<th>库存数量</th>
						</tr>
					</table>
					<div class="xbody">
						<table>
							<tbody class="xtemplate">
								<tr>									
									<td class="tc">{btnMingXi}</td>
									<td>{goodsName}</td>
									<td>{num}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
			</div>
			<#assign cls="stock_paging">
			<#include "/common/_paging.html">
		</div>
	</div>
	<#include "stockForm.html">
	<#include "stock_detail.html">
	
</body>
</html>